<mat-card>
  <div class="role-checkbox">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle (click)="selectRole('All')" checked>All</mat-button-toggle>
          <mat-button-toggle (click)="selectRole('Assassin')">Assassin</mat-button-toggle>
          <mat-button-toggle (click)="selectRole('Fighter')">Fighter</mat-button-toggle>
          <mat-button-toggle (click)="selectRole('Mage')">Mage</mat-button-toggle>
          <mat-button-toggle (click)="selectRole('Marksman')">Marksman</mat-button-toggle>
          <mat-button-toggle (click)="selectRole('Support')">Support</mat-button-toggle>
          <mat-button-toggle (click)="selectRole('Tank')">Tank</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Search for Champion" [(ngModel)]="search_term" (keyup)="searchChamps()">
          <button mat-button *ngIf="search_term" matSuffix mat-icon-button aria-label="Clear" (click)="search_term=''">
            <mat-icon (click)="selectRole('All')">close</mat-icon>
          </button>
        </mat-form-field>
  </div>
  <mat-grid-list cols="10" rowHeight="1:1" gutterSize="10px">
    <mat-grid-tile *ngFor="let champ of filtered_champs">
        <a [routerLink]="['/champ', champ.name]">
          <img src="{{ champ.avatar }}">
          <mat-grid-tile-footer>{{ champ.name }}</mat-grid-tile-footer>
        </a>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
